.main-container{
  flex-grow: 1;
  min-width: 320px; //necessary for shrinking back the container on window resize
}

.main{
  padding-top: 15px;
  height: calc(100% - #{$header-height});
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}