.sidebar {
  transition: all 0.2s ease-in;
  width: 0px;
  flex: 0;
  box-shadow: 0px 0px 8px rgba(151, 151, 151, 0.397);
  overflow: hidden; }
  @media screen and (min-width: 576px) {
    .sidebar {
      width: 50px;
      flex: 0 0 50px; } }
  .sidebar.visible {
    width: 230px;
    flex: 0 0 230px; }
  .sidebar__header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .sidebar__content-right li {
    display: inline-block; }
  .sidebar .logo {
    width: 38px; }
  .sidebar__navLink {
    display: block;
    transition: all 0.2s ease-in; }
    .sidebar__navLink--active {
      border-left: 4px solid #8f60ff; }

.main-container {
  flex-grow: 1;
  min-width: 320px; }

.main {
  padding-top: 15px;
  height: calc(100% - 64px);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%; }

.app {
  display: flex;
  max-width: 100%;
  overflow: hidden; }

ul {
  padding: 0px;
  list-style-type: none; }
