.sidebar {
  transition: all 0.2s ease-in;
  width: 0px;
  flex: 0;
  box-shadow: 0px 0px 8px rgba(151, 151, 151, 0.397);
  overflow: hidden; }
  @media screen and (min-width: 576px) {
    .sidebar {
      width: 50px;
      flex: 0 0 50px; } }
  .sidebar.visible {
    width: 230px;
    flex: 0 0 230px; }
  .sidebar__header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .sidebar__content-right li {
    display: inline-block; }
  .sidebar .logo {
    width: 38px; }
  .sidebar__navLink {
    display: block;
    transition: all 0.2s ease-in;
    height: 40px;
    overflow: hidden; }
    .sidebar__navLink--active {
      border-left: 4px solid #8f60ff; }
  .sidebar__flat-button {
    line-height: 40px;
    height: 40px;
    text-align: left; }
  .sidebar__flat-button--has-sub {
    position: relative; }
    .sidebar__flat-button--has-sub::before {
      content: "";
      width: 10px;
      height: 3px;
      position: absolute;
      top: 50%;
      transform: translate(0px, -50%) rotate(45deg);
      transform-origin: 50% 50%;
      right: 16px;
      background-color: gray;
      transition: transform 0.2s ease-in; }
    .sidebar__flat-button--has-sub::after {
      content: "";
      width: 10px;
      height: 3px;
      position: absolute;
      top: 50%;
      transform: translate(0px, -50%) rotate(-225deg);
      transform-origin: 50% 50%;
      right: 10px;
      background-color: gray;
      transition: transform 0.2s ease-in; }
    .sidebar__flat-button--has-sub.open::before {
      transform: translate(0px, -50%) rotate(-45deg); }
    .sidebar__flat-button--has-sub.open::after {
      transform: translate(0px, -50%) rotate(-135deg); }
  .sidebar__collapsible--open {
    background-color: #f5f5f5; }
  .sidebar__avatar {
    margin-left: 12px;
    margin-right: 8px; }

.main-container {
  flex-grow: 1;
  min-width: 320px; }

.main {
  padding-top: 15px;
  height: calc(100% - 64px);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%; }

.app {
  display: flex;
  max-width: 100%;
  overflow: hidden; }

ul {
  padding: 0px;
  list-style-type: none; }
